@{
    ViewData["Title"] = "Home Page";
}

<div class="text-justify">
    <h1 class="display-4">Тестовое задание</h1>
    <p>Требуется разработать приложение (желательно web) которое позволяет создавать/редактировать список операторов. Список состоит только из «имя оператора» (1-е поле) и кода (2-е поле). Код оператора – уникальный и задаётся на уровне БД или приложения. Имя оператора может быть уникальным, и может быть пустым. (плюсом будет запрет ввода пустого имени оператора). </p>
    <p>(Изначально БД отсуствует, в случае его отсутствия приложение создаёт БД само (к примеру с помощью механизма миграций – выбор стека технологий и фреймфорков на ваше усмотрение (можно и SQLexecuteи SQLскрипты)). (Возможно использование localdb) Структура БД – на ваше усмотрение./В крайнем случае возможен вариант – приложение без БД, в качестве источника данных в таком случае использовать List или Dictionaryи т.п./</p>
    <p>Также необходим RESTсервис(отдельный или в составе единого приложения, обращающийся к той же БД (к тому же источнику данных) (в крайнем случаем – WCF (в случае выбора WCF – необходимо показать работоспособность WCFс помощью консольного приложения-клиента для WCF)) который в формате jsonвозвращает этот списокс помощью метода get «/operators»(который мы в предыдущей части редактировали), а также конкретного оператора через указание {id} – этого оператора.(проверка работоспособности через браузер url/operatorsв строке браузера.)</p>
    <p>Плюсом будет:реализация возможности редактирования списка операторов через REST («редактирование конкретного оператора»/ «добавление оператора», «удаление оператора» (по мере возможности, любой метод(ы))</p>
    <p>Еcли выбран вариант Web приложение (на .netcoreили asp.netmvc), то UI(сайт) и RESTмогут быть одним целым приложением.</p>
</div>
